<h1>Results:</h1>

<h3>
  To obtain your target marks, you'll need <%=marksArray[0] %>% on the exam.
</h3>

<ul>
  <li>
    The percentage you need on the exam to at least get an HD: <%=marksArray[1]
    %>%
  </li>
  <li>
    The percentage you need on the exam to at least get an D: <%=marksArray[2]
    %>%
  </li>
  <li>
    The percentage you need on the exam to at least get an C: <%=
    marksArray[3]%>%
  </li>
  <li>
    The percentage you need on the exam to at least get an P: <%=marksArray[4]
    %>%
  </li>
</ul>
