<h1>Results:</h1>

<h3>To obtain your target marks, you'll need <%= %>% on the exam.</h3>

<ul>
  <li>The percentage you need on the exam to at least get an HD: <%= %>%</li>
  <li>The percentage you need on the exam to at least get an D: <%= %>%</li>
  <li>The percentage you need on the exam to at least get an C: <%= %>%</li>
  <li>The percentage you need on the exam to at least get an P: <%= %>%</li>
</ul>
